# Node modules
node_modules/

# Output folders
dist/
build/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Thumbnails (اختياري)
images/thumb/
